*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 
                'Gill Sans MT', 
                Calibri,
                'Trebuchet MS',
                sans-serif;
    
}

header{
    background-image: url("/assets/background.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 20px 20px;
}

.center-text{
    text-align: center ;
}

.nav{
    position: fixed;
    padding: 20px;
    margin: -20px 0px 0px -20px;
    align-items: center;
    width: 101%;
    background-color: rgba(23, 24, 24, 0.705);
    justify-content: space-between;
}

.flex{
    display: flex;
}

.menu li{
    list-style: none;
}

.menu-item{
    margin: 10px;
    color: white;
    text-decoration: none;
}

.menu-item:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 217, 0, 0.904);
    padding: 10px;
    border-radius: 15px;
}

.frontpage{
    margin: 50px 0px 0px 0px;
    padding: 50px;
}

.profileinfo{
    margin: 130px 0px 0px 0px;
}

.profile{
    display: block;
    margin: 20px auto;
    width: 180px;
    height: 180px;
    border: 4px rgba(255, 230, 3, 0.699) solid;    
    border-radius: 50%;
}

.socialmedia{
    margin: 20px auto;  
    justify-content: center;
}

.socialmedia a img{
    width: 30px;
    height: 30px;
    margin: 0px 15px;
    background-color: white;
    border-radius: 80%;
    border: 2px solid black;
}

.name{
    font-size: 40px;
}

.p-text{
    color: rgb(255, 217, 0);
}

.s-text{
    color: rgb(248, 245, 245);
    font-size: 30px;
}

.d-text{
    color: white;
    
}

.description{
    margin: 50px auto;
    width: 800px;
    font-size: 20px;
    text-align: justify;
}

.uppercase{
    text-transform: uppercase;
}

.t-text{
    font-size: 30px;
    font-weight: 800;
}

.skills{
    margin: 100px 0px 0px 0px;
    justify-content: center;
    align-items: center;

}

.skillsimg{
    display: block;
    margin: 20px 0px;
    width: 150px;
    height: 150px;
    border-radius: 40%;
    padding: 5px;
    border: 3px rgb(196, 196, 196) solid;  
}

.line{
    background-color: rgb(196, 196, 196);
    height: 120px;
    width: 2px;
    margin: -15px auto;
}

.contact{
    margin: 200px 0px 0px 0px;
}

.center{
    justify-content: center;
}